/* * IPHONE * */

.flex-album {
   display: flex;
   justify-content: center;
   grid-area: album;
}

.album {
   width: 90%;
}

/* * IPAD * */
@media only screen and (min-width: 768px) {

   .album {
      width: 75%;
   }
}

/* * MACBOOK PRO * */
@media only screen and (min-width: 1280px) {

   .album {
      padding-top: 50px;
      width: 500px;
   }
}