body {
   background-image: url(/images/marquee-3.png);
   background-repeat: no-repeat;
   background-position: center top;
   background-size: 100%;
}

/* * IPAD PRO * */
@media only screen and (min-width: 1024px) {
   .flex-album {
      display: flex;
      justify-content: center;
      grid-area: album;
   }

   .album {
      padding-top: 50px;
      width: 60%;
   }
}