.audio {
   grid-area: audio;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.audio button {
   background-color: transparent;
   background-repeat: no-repeat;
   border: none;
   cursor: pointer;
   outline: none;
   margin: 5px 40px;

}

.play-icon,
.previous-icon,
.next-icon {
   width: 60px;
}

/* * IPAD PRO * */
@media only screen and (min-width: 1024px) {
   .play-icon,
   .previous-icon,
   .next-icon {
      width: 100px;
   }

   .play-icon:hover,
   .previous-icon:hover,
   .next-icon:hover {
      animation: colour-change 4s infinite;
   }
}