.audio {
   margin: 40px 40px 0 40px;
}

.audio button {
   display: inline-block;
   background-color: transparent;
   background-repeat: no-repeat;
   border: none;
   cursor: pointer;
   outline: none;
   margin: 5px;
}

.buttons {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.play-icon,
.previous-icon,
.next-icon {
   width: 60px;
}

/* * IPAD * */
@media only screen and (min-width: 768px) {
   .audio button {
      margin: 20px;
   }
   
   .play-icon,
   .previous-icon,
   .next-icon {
      width: 80px;
   }

   .play-icon:hover,
   .previous-icon:hover,
   .next-icon:hover {
      animation: colour-change 4s infinite;
   }
}

