.audio {
   margin: 40px 40px 0 40px;
}

.buttons {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.audio button {
   display: inline-block;
   background-color: transparent;
   background-repeat: no-repeat;
   border: none;
   cursor: pointer;
   outline: none;
   margin: 20px;
}

.play-icon,
.previous-icon,
.next-icon {
   width: 80px;
}

.play-icon:hover,
.previous-icon:hover,
.next-icon:hover {
   animation: colorchange 1s infinite;
}

@keyframes colorchange {
   0% { filter: invert(30%) sepia() saturate(1000%) hue-rotate(280deg) contrast(80%); }
   50% { filter: invert(60%) sepia() saturate(50%) hue-rotate(120deg) contrast(80%); }
   100% { filter: invert(30%) sepia() saturate(1000%) hue-rotate(280deg) contrast(80%); }
}