.duration {
   text-align: center;
   margin-bottom: 125px;
   width: 80%;
}

.current-time,
.total-time {
   margin: 30px;
   font-size: 20px;
   letter-spacing: 5px;
   color: #D6187A;
   font-family: "8bit";
}

/* * IPAD PRO * */
@media only screen and (min-width: 1024px) {
   .duration {
      margin-bottom: 200px;
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .current-time,
   .total-time {
      margin: 10px;
      font-size: 20px;
      letter-spacing: 5px;
   }
}