.flex-duration {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
   grid-area: duration;
   width: 100%;
}

.duration {
      width: 100%;
}

.current-time,
.total-time {
   margin: 30px;
   font-size: 20px;
   letter-spacing: 5px;
   color: #D6187A;
   font-family: "8bit";
}

/* * IPAD PRO * */
@media only screen and (min-width: 1024px) {
   .duration {
      width: 80%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
   }

   .current-time,
   .total-time {
      margin: 10px;
      font-size: 20px;
      letter-spacing: 5px;
   }
}