/* * PHONES * */

.flex-duration {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   grid-area: duration;
}

.duration {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   color: #D6187A;
   font-family: "8bit";
}

.current-time,
.total-time {
   margin: 1.8rem;
   font-size: 1rem;
   letter-spacing: 0.3rem;
}

/* * LAPTOPS * */
@media only screen and (min-width: 769px) {

   .duration {
      flex-direction: row;
      justify-content: center;
      width: 80%;
      margin-top: 1.8rem;
   }

   .current-time,
   .total-time {
      margin: 0.5rem;
      font-size: 1.3rem;
   }
}