/* * PHONES * */

.now-playing {
   text-align: center;
   font-size: 1.4rem;
   margin: 1.3rem 0 0 0.7rem;
   letter-spacing: 0.6rem;
   line-height: 3.8rem;
   color: #D6187A;
   font-family: "8bit";
   animation: color-change 1s infinite;
   grid-area: now playing;
}

@keyframes color-change {
   0% {
      color: #D6187A;
   }

   50% {
      color: #F7EB32;
   }

   100% {
      color: #D6187A;
   }
}

/* * TABLETS * */
@media only screen and (min-width: 481px) {

   .now-playing {
      font-size: 1.7rem;
   }
}

/* * LAPTOPS * */
@media only screen and (min-width: 769px) {

   .now-playing {
      font-size: 2rem;
   }
}

/* * DESKTOPS * */
@media only screen and (min-width: 1025px) {

   .now-playing {
      font-size: 2.3rem;
      line-height: 1.2rem;
      margin: 3% 10% 2% 10%;
   }
}

/* * TV * */
@media only screen and (min-width: 1600px) and (max-width: 2560px) {
   .now-playing {
      font-size: 2.8rem;
      line-height: 0;
   }
}