/* * IPHONE * */

.now-playing {
   text-align: center;
   font-size: 20px;
   margin-top: 20px;
   letter-spacing: 10px;
   line-height: 50px;
   color: #D6187A;
   font-family: "8bit";
   animation: color-change 1s infinite;
   grid-area: now playing;
}

@keyframes color-change {
   0% { color: #D6187A; }
   50% { color: #F7EB32; }
   100% { color: #D6187A; }
}

/* * IPAD * */
@media only screen and (min-width: 768px) {

   .now-playing {
   font-size: 25px;
   }
}

/* * MACBOOK PRO * */
@media only screen and (min-width: 1280px) {

   .now-playing {
      font-size: 30px;
      line-height: 0px;
      margin: 3% 10% 2% 10%;
   }
}

/* * IMAC * */
@media only screen and (min-width: 1537px) and (max-width: 2560px) {

   .now-playing {
      font-size: 40px;
   }
}
