.screen {
   display: grid;
   grid-template-columns: repeat(2, 700px);
   grid-template-rows: repeat(5, 10em);
   grid-template-areas:
   "album volume"
   "album ."
   "album audio"
   "album ."
   "song duration"
   "song .";
   column-gap: 20em;
}
