/* * PHONES * */

.song {
   text-align: center;
   margin-top: 1.2rem;
   color: #D6187A;
   font-family: "8bit";
}

.game-name,
.song-title {
   display: block;
   letter-spacing: 0.3rem;
   line-height: 2.1rem;
   margin-top: 0.4rem;
}

.game-name {
   font-size: 1rem;
}

.song-title {
   font-size: 1.6rem;
}

/* * TABLETS * */
@media only screen and (min-width: 481px) {

   .game-name,
   .song-title {
      line-height: 3.5rem;
   }

   .game-name {
      font-size: 1.3rem;
   }

   .song-title {
      font-size: 2rem;
   }
}

/* * LAPTOPS * */
@media only screen and (min-width: 769px) {

   .game-name,
   .song-title {
      line-height: 3rem;
   }

   .game-name {
      font-size: 1.3rem;
   }

   .song-title {
      font-size: 2rem;
   }
}

/* * DESKTOPS * */
@media only screen and (min-width: 1025px) {

   .flex-song {
      display: flex;
      justify-content: center;
      grid-area: album;
      grid-area: song;
   }
}

/* * TV * */
@media only screen and (min-width: 1600px) and (max-width: 2560px) {

   .game-name {
      font-size: 1.5rem;
   }

   .song-title {
      font-size: 2.5rem;
   }
}