.song {
   width: 80%;
   text-align: center;
}

.game-name,
.song-title {
   display: block;
   font-size: 20px;
   letter-spacing: 5px;
   line-height: 35px;
   color: #D6187A;
   font-family: "8bit";
   margin: 10px;
}

.dash {
   display: block;
   font-size: 20px;
   color: #D6187A;
   font-family: "8bit";
}

/* * IPAD PRO * */
@media only screen and (min-width: 1024px) {
   .game-name,
   .song-title {
      line-height: 50px;
      display: block;
      font-size: 30px;
      letter-spacing: 5px;
      margin: 20px;
   }

   .dash {
      font-size: 20px;
      letter-spacing: 5px;
      margin: 10px;
   }
}