input {
   -webkit-appearance: none;
   width: 100%;
   outline: none;
   height: 2px;
   /* margin: 15px; */
   background: #1671D5;
}

input::-webkit-slider-thumb {
   -webkit-appearance: none;
   height: 20px;
   width: 20px;
   background: #F7EB32;
   cursor: pointer;
}

.volume {
   margin: 40px;
   width: 30%;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #D6187A;
}

.volume button {
      display: inline-block;
      background-color: transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      outline: none;
      margin: 20px 20px 20px 0;
   }

.volume-number {
   font-family: '8bit';
   font-size: 15px;
   margin: 20px;
}

.volume-icon {
   height: auto;
   width: 50px;
}

.volume-icon:hover {
   filter: invert(30%) sepia() saturate(1000%) hue-rotate(280deg) contrast(80%);
   transition: .2s ease-in-out;
}